@import '../pages/variables.scss';

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;

    @media (min-width: 992px) {
        &.addScrollBar {
            padding-right: 30px;
        }
    }
}

body {
    font-family: "Montserrat";
    background: var(#{--body-background-default});
    transition: all .5s ease;
}

.sunshine {
    animation: sunshine 30s linear infinite;
    position: absolute;
    top: 0;
    right: 0;
}

@keyframes sunshine {
    0% {
        box-shadow: 0 0 200px 100px #fcff46;
    }

    50% {
        box-shadow: 0 0 200px 200px #fcff46;
    }

    100% {
        box-shadow: 0 0 200px 100px #fcff46;
    }
}