@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Montserrat:wght@400;500&family=Roboto&display=swap');

body {
  font-family: Montserrat;
}

/* полоса прокрутки (скроллбар) */
body::-webkit-scrollbar {
  width: 16px; /* ширина для вертикального скролла */
  height: 6px; /* высота для горизонтального скролла */
  background-color: #8a8a8a;
}

/* ползунок скроллбара */
body::-webkit-scrollbar-thumb {
  background-color: #bdb1aa;
}

#Rain {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.drop {
  background: #c3c3c3 !important;
  width: 1px;
  height: 89px;
  position: absolute;
  bottom: 200px;
  transition: all 5s ease;
}

.snow {
  position: fixed;
  width: 99vw;
  height: 99vh;
}
