@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Montserrat:wght@400;500&family=Roboto&display=swap');

body {
  font-family: Montserrat;
}

/* полоса прокрутки (скроллбар) */
body::-webkit-scrollbar {
  width: 16px; /* ширина для вертикального скролла */
  height: 6px; /* высота для горизонтального скролла */
  background-color: #8a8a8a;
}

/* ползунок скроллбара */
body::-webkit-scrollbar-thumb {
  background-color: #bdb1aa;
}